

<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <link rel="Shortcut Icon" type="image/x-icon" href="" />
    <meta name="language" content="zh-tw">
    <meta name="description" content="大數智能教育專注職場需求能力培養，大數的直播線上課程以客製化的培育，確保學習能力符合企業、市場所需，讓你在線上直播課程中獲得最好的學習效果。
你想升職、轉職、年薪百萬嗎?大數豐富的程式語言、數位行銷、多國外語課程任你挑選，專業師資線上等你來加入。">

    <title>大數智能教育線上直播課程Gtalent</title>
    <meta name="facebook-domain-verification" content="9i24epzfj6cob6vi7stewbwqa9g5cc" />
    <meta property="og:title" content="大數智能教育 Gtalent｜線上直播課程-程式設計 語言學習"/>
    <meta property="og:url" content="https://www.gtalent.com.tw/" />
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="大數提供最完善的線上直播學習課程，專精於程式設計、語言學習，培訓你成為企業最需要的數位人才！" />
    <meta property="og:image" content="https://www.gtalent.com.tw/resources/images/share.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/resources/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/images/favicon-16x16.png">
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/slick-theme.css">
    <link rel="stylesheet" href="/resources/css/slick.css">
    <link rel="stylesheet" href="/resources/css/font-awesome-5.15.3-all.min.css">
    <link rel="stylesheet" href="/resources/css/fullcalendar/main.css">
    <link rel="stylesheet" href="/resources/css/main.css">
    <script src="/resources/js/jquery-3.4.1.min.js"></script>
    <script src="/resources/js/popper.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
    <script src="/resources/js/slick.js"></script>
    <script src="/resources/js/jquery.twbsPagination.min.js"></script>
    <script src="/resources/js/fontawesome.min.js"></script>
    <script src="/resources/js/validate/jquery.validate.min.js"></script>
    <script src="/resources/js/validate/messages_zh_TW.js"></script>
    <!--檔案上傳 js -->
    <script src="/resources/js/jquery.ui.widget.js"></script>
    <script src="/resources/js/jquery.iframe-transport.js"></script>
    <script src="/resources/js/jquery.fileupload.js"></script>
    <script src="/resources/js/jquery.fileupload-process.js"></script>
    <script src="/resources/js/jquery.fileupload-validate.js"></script>

    <script src="/resources/js/fullcalendar/main.js"></script>

    <script src="https://kit.fontawesome.com/2b11e97ddf.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4DWFNKGKPB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-R8R8QT4R8D');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MDK3SJ6');</script>
    <!-- End Google Tag Manager -->

    <script>
        /**
         * 置頂按鈕
         */
        function toTop(){
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</head>

<body class="index">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDK3SJ6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar navbar-expand-lg">
    <div class="container-xl">
        <a class="navbar-brand" href="/index">
            <img src="/resources/images/icon/logo-gtalent.png" alt="大數智能教育線上直播課程Gtalent Logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="news-ticker bg-whiteSmoke flex-grow-1 d-lg-flex d-none">
          <div class="frss p-2 py-md-1 px-md-4">
            <label class="font-weight-bold flex-shrink-0 text-tertiary mr-2 mb-0 px-md-0 px-1"><i class="fas fa-bullhorn mr-1"></i>公告</label>
              <div class="news-ticker-ctx frcs flex-wrap">
                <p class="frcs">
                  <span th:if="${announcement!=null}" th:text="${announcement.getTitle()}" class="limitLine" style="width: calc(100% - 120px);">最新課程上線囉~~~~大數據培訓班專家授課，點我進入最新課程！推薦最熱門課程任你選！</span>
                  <a href="#" th:href="${'/announcement'}" target="_blank" class="h4"> >>詳情點我<<</a>
                </p>
            </div>
          </div>
        </div> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/terms"><i class="mr-1 fas fa-solid fa-handshake"></i>服務條款</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/privacy"><i class="mr-1 fas fa-shield-alt"></i>隱私權條款</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://gtalent.gitbook.io/howtouse/" target="_blank"><i class="mr-1 fas fa-book"></i>初次使用教學</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instructor/login"><i class="mr-1 fas fa-school"></i>教師登入</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="mr-1 fas fa-user"></i>學員登入</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://web.gtalent.com.tw/"><i class="mr-1 fas fa-university"></i>企業服務方案介紹</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" th:href="@{/course/index}"><i class="mr-1 fas fa-search"></i>課程查詢</a>
                </li> -->
                <!--
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/shop/index}"><i class="mr-1 fas fa-shopping-cart"></i>點數購買</a>
                </li>
                -->
                <!-- <li class="nav-item">
                  <a class="nav-link" th:href="@{/contact}"><i class="mr-1 fas fa-phone"></i>聯絡客服</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/course/index"><i class="mr-1 fas fa-search"></i>課程查詢</a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<main>
    <section class="index-hero">
        <!-- <div class="container-lg d-lg-none">
          <div class="row">
            <div class="col-12 py-3">
              <div class="news-ticker bg-whiteSmoke">
                <div class="frss p-2 py-md-1 px-md-4">
                  <label class="font-weight-bold flex-shrink-0 text-tertiary mr-2 mb-0 px-md-0 px-1"><i class="fas fa-bullhorn mr-1"></i>公告</label>
                  <div class="news-ticker-ctx frcs flex-wrap">
                    <p>
                      <span th:if="${announcement!=null}" th:text="${announcement.getTitle()}">最新課程上線囉~~~~大數據培訓班專家授課，點我進入最新課程！推薦最熱門課程任你選！</span>
                      <a href="#" th:href="${'/announcement'}" target="_blank" class="h4"> >>詳情點我<<</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div id="indexHero-slider">
            <div class="slide-item">
                <a href="https://www.gtalent.com.tw/contact" target="_self">
                    <div class="bg-wrapper" style="background-image: url(/upload/banner/20250515/0e0e95c844264df0b26ffe40f3caca25/0e0e95c844264df0b26ffe40f3caca25.jpg);"></div>
                    <!-- <div class="bg-wrapper d-block d-md-none" th:with="image=@{${banner.mobileImagePath}}" th:style="${'background-image: url(' + image + ');'}"></div> -->
                </a>
            </div>
            <div class="slide-item">
                <a href="#" target="_self">
                    <div class="bg-wrapper" style="background-image: url(/upload/banner/20250515/9225fb0c39e7478a8e17027b9a9e08f9/9225fb0c39e7478a8e17027b9a9e08f9.jpg);"></div>
                    <!-- <div class="bg-wrapper d-block d-md-none" th:with="image=@{${banner.mobileImagePath}}" th:style="${'background-image: url(' + image + ');'}"></div> -->
                </a>
            </div>
            <div class="slide-item">
                <a href="#" target="_self">
                    <div class="bg-wrapper" style="background-image: url(/upload/banner/20250515/9109c3aa77e540ab86d751b29495292c/9109c3aa77e540ab86d751b29495292c.jpg);"></div>
                    <!-- <div class="bg-wrapper d-block d-md-none" th:with="image=@{${banner.mobileImagePath}}" th:style="${'background-image: url(' + image + ');'}"></div> -->
                </a>
            </div>
            <div class="slide-item">
                <a href="#" target="_self">
                    <div class="bg-wrapper" style="background-image: url(/upload/banner/20250515/133067a5e03d433bb3e9919b5fbdc3f7/133067a5e03d433bb3e9919b5fbdc3f7.jpg);"></div>
                    <!-- <div class="bg-wrapper d-block d-md-none" th:with="image=@{${banner.mobileImagePath}}" th:style="${'background-image: url(' + image + ');'}"></div> -->
                </a>
            </div>
            <div class="slide-item">
                <a href="#" target="_self">
                    <div class="bg-wrapper" style="background-image: url(/upload/banner/20250515/9647be3de7e141ef9713eeb98d86c57a/9647be3de7e141ef9713eeb98d86c57a.jpg);"></div>
                    <!-- <div class="bg-wrapper d-block d-md-none" th:with="image=@{${banner.mobileImagePath}}" th:style="${'background-image: url(' + image + ');'}"></div> -->
                </a>
            </div>
            <div class="slide-item">
                <a href="#" target="_self">
                    <div class="bg-wrapper" style="background-image: url(/upload/banner/20250611/856abc16f0a6401dbfa53548fa0503d4/856abc16f0a6401dbfa53548fa0503d4.jpg);"></div>
                    <!-- <div class="bg-wrapper d-block d-md-none" th:with="image=@{${banner.mobileImagePath}}" th:style="${'background-image: url(' + image + ');'}"></div> -->
                </a>
            </div>
        </div>
        <!-- <div class="search-panel pt-4 pb-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <form method="get" action="course/index">
                  <div class="form-row text-md-left text-center">
                    <div class="form-group col-md-4">
                      <select name="type" class="form-control">
                        <option value="">選擇課程類型</option>
                        <option th:each="type : ${courseTypes}" th:value="${type.id}" th:text="${type.name}">待選擇</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" name="name" placeholder="請輸入課程名稱，或您有興趣的主題">
                    </div>
                    <div class="col">
                      <button type="submit" class="btn btn-primary bg-primary">搜尋</button>
                    </div>
                  </div>
                  </form>
              </div>
            </div>
          </div>
        </div> -->
    </section>
    <section class="index-main bg-whiteSmoke">
        <div class="container-xl">

            <div class="row">
                <div class="col-12 text-center">
                    <div class="head text-primary">大數人才養成課</div>
                </div>
                <div class="col-12 indexCourse mt-md-4 mt-3">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs border-0 justify-content-center" id="indexCourseTabs" role="tablist">
                        <li class="nav-item">
                            <a id="tab-後端工程師培訓"
                               href="#後端工程師培訓"
                               class="nav-link active" data-toggle="tab" role="tab"
                               aria-controls="software" aria-selected="true"><從資料庫獲得產品名稱></a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-醫資工程師培訓"
                               href="#醫資工程師培訓"
                               class="nav-link" data-toggle="tab" role="tab"
                               aria-controls="software" aria-selected="true">醫資工程師培訓</a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-App開發全攻略"
                               href="#App開發全攻略"
                               class="nav-link" data-toggle="tab" role="tab"
                               aria-controls="software" aria-selected="true">App開發全攻略</a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-金融分析師培訓"
                               href="#金融分析師培訓"
                               class="nav-link" data-toggle="tab" role="tab"
                               aria-controls="software" aria-selected="true">金融分析師培訓</a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-AI與職場全方位培訓"
                               href="#AI與職場全方位培訓"
                               class="nav-link" data-toggle="tab" role="tab"
                               aria-controls="software" aria-selected="true">AI與職場全方位培訓</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content mt-md-4 mt-3">
                        <div id="後端工程師培訓" class="tab-pane fade show active" role="tabpanel" aria-labelledby="software-tab">
                            <div class="index-main-slider">
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01545">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250701/5965d1c8fcf24fb987ad97077623b4d8/5965d1c8fcf24fb987ad97077623b4d8.png);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">從資料庫獲得產品名稱</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01546">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250701/a5e70df5531042abacb088ff02be9dac/a5e70df5531042abacb088ff02be9dac.png);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">JAVA後端工程師進階培訓</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01530">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250307/d63e2e3a9ee948da8f8e808a3ec74c40/d63e2e3a9ee948da8f8e808a3ec74c40.png);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">2025後端工程師必修培訓Q2</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01531">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250307/4a64ce0ab80d49a68c81bbb8c0f2a81f/4a64ce0ab80d49a68c81bbb8c0f2a81f.png);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">2025後端工程師進階培訓Q2</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01517">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20241205/9c48b4a564fd464fbbd421060c491ce8/9c48b4a564fd464fbbd421060c491ce8.png);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">2025後端工程師必修培訓Q1</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01518">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20241205/d10da4de4cf44735bc3be67e1092b707/d10da4de4cf44735bc3be67e1092b707.png);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">2025後端工程師進階培訓Q1</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="醫資工程師培訓" class="tab-pane fade" role="tabpanel" aria-labelledby="software-tab">
                            <div class="index-main-slider">
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01538">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250512/5d772a46b4454cdabbc4367eb06d4aad/5d772a46b4454cdabbc4367eb06d4aad.jpg);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">醫療資訊培訓-FHIR基礎班</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01539">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250512/55ee4b4a091a44e8b3eded1b75d99180/55ee4b4a091a44e8b3eded1b75d99180.jpg);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">醫療資訊培訓-FHIR進階班</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01540">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250512/479395f0e36640b58b39a7a3f6f53483/479395f0e36640b58b39a7a3f6f53483.jpg);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">醫療資訊培訓-FHIR專案班</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="App開發全攻略" class="tab-pane fade" role="tabpanel" aria-labelledby="software-tab">
                            <div class="index-main-slider">
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01544">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250625/0735a11da7ca4a399585de37533eadcb/0735a11da7ca4a399585de37533eadcb.png);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">APP 開發 - 從零開始征服Android！</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01543">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250625/01ac30c2154f403083bfcb740e08a565/01ac30c2154f403083bfcb740e08a565.png);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">深入優化-演算法與資料結構</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="金融分析師培訓" class="tab-pane fade" role="tabpanel" aria-labelledby="software-tab">
                            <div class="index-main-slider">
                                <div class="card courseCard">
                                    <a href="/course/detail/AW01519">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20241211/72ff0d4105b74c2eafe0773dbbe7b37e/72ff0d4105b74c2eafe0773dbbe7b37e.png);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">管理課程</h4>
                                            <h2 class="courseCard-info-head">精算師 Exam P 培訓</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/AW01520">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20241211/b92550085e2f4cefba9f7be03038eba1/b92550085e2f4cefba9f7be03038eba1.png);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">管理課程</h4>
                                            <h2 class="courseCard-info-head">精算師 Exam FM 培訓</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="AI與職場全方位培訓" class="tab-pane fade" role="tabpanel" aria-labelledby="software-tab">
                            <div class="index-main-slider">
                                <div class="card courseCard">
                                    <a href="/course/detail/AW01523">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250516/5e3afa74c1524d248add6e846e8b1f22/5e3afa74c1524d248add6e846e8b1f22.jpg);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">AI繪圖實戰課程</h2>
                                            <div class="courseCard-info-value text-tertiary">


                                                <div class="original-price">NT7,980  </div>
                                                <div class="sale-price">NT3,680  </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01510">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250515/5e2d5bee714c49b2b4952556efbf269a/5e2d5bee714c49b2b4952556efbf269a.jpg);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">AI行銷-高效智慧商務的核心技術</h2>
                                            <div class="courseCard-info-value text-tertiary">


                                                <div class="original-price">NT10,300  </div>
                                                <div class="sale-price">NT6,060  </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/AW01482">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250606/1a1bbc02c55f44888cc3ee3ac6d6cb57/1a1bbc02c55f44888cc3ee3ac6d6cb57.png);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">管理課程</h4>
                                            <h2 class="courseCard-info-head">AI專案管理-職場效能</h2>
                                            <div class="courseCard-info-value text-tertiary">


                                                <div class="original-price">NT12,800  </div>
                                                <div class="sale-price">NT7,980  </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/AW01522">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250516/317fd56406414d19893c9491e03545d0/317fd56406414d19893c9491e03545d0.jpg);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">管理課程</h4>
                                            <h2 class="courseCard-info-head">職涯全攻略-職場晉升的實用心法</h2>
                                            <div class="courseCard-info-value text-tertiary">


                                                <div class="original-price">NT18,800  </div>
                                                <div class="sale-price">NT8,800  </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/AW01526">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250516/ad477f32474f42f6b5138d67a106483f/ad477f32474f42f6b5138d67a106483f.jpg);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">管理課程</h4>
                                            <h2 class="courseCard-info-head">履歷健檢</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01477">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250515/7a94e927ca33472285ff99599c16bb5a/7a94e927ca33472285ff99599c16bb5a.jpg);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">AI基礎必修課程</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01478">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250515/9928bd8a746e42ae80835fcfbf622b3e/9928bd8a746e42ae80835fcfbf622b3e.jpg);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">AI進階實作課程</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card courseCard">
                                    <a href="/course/detail/IT01471">
                                        <div class="courseCard-cover">
                                            <div style="background-image: url(/upload/course/20250515/f5bc8676d2cc41a290c64585bc07b58f/f5bc8676d2cc41a290c64585bc07b58f.jpg);"
                                                 class="bg-wrapper">
                                            </div>
                                        </div>
                                        <div class="courseCard-info p-3">
                                            <h4 class="courseCard-info-tag btn-rounded text-tertiary mb-2">IT課程</h4>
                                            <h2 class="courseCard-info-head">Python-AI程式課程</h2>
                                            <div class="courseCard-info-value text-tertiary">




                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(function () {
            var contextPath = "";
            $('#indexHero-slider').slick({
                // centerMode: true,
                // centerPadding: '48px',
                // slidesToShow: 1.7,
                slidesToShow: 1,
                autoplay: false,
                autoplaySpeed: 9000,
                dots: true,
                prevArrow: '<img class="slide-arrow slick-prev img-fluid" src="' + contextPath + '/resources/images/icon/bannerarrow2.png">',
                nextArrow: '<img class="slide-arrow slick-next img-fluid" src="' + contextPath + '/resources/images/icon/bannerarrow1.png">',
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: false,
                            centerMode: false,
                            centerPadding: '0',
                            slidesToShow: 1
                        }
                    }
                ]
            })

            $('.index-main-slider').slick({
                slidesToShow: 4,
                slidesToScroll: 4,
                infinite: false,
                dots: true,
                dots: false,
                prevArrow: '<img class="slide-arrow slick-prev img-fluid" src="' + contextPath + '/resources/images/icon/arrowL.svg">',
                nextArrow: '<img class="slide-arrow slick-next img-fluid" src="' + contextPath + '/resources/images/icon/arrowR.svg">',
                responsive: [
                    {
                        breakpoint: 1201,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2.2,
                            slidesToScroll: 1,
                            arrows: false
                        }
                    }
                ]
            })

            $('.nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (event) {
              $('.index-main-slider').slick('setPosition');
            })
        })
    </script>

</main>

<footer>
    <div class="container-xl">
        <div class="row footer-t">
            <div class="col-12">
                <div class="fccb flex-xl-row">
                    <div class="col fccs flex-xl-row">
                        <div class="footer-logo mr-xl-4">
                            <img src="/resources/images/icon/logo-gtalent.png" alt="" height="60">
                        </div>
                        <p class="text-dark font-weight-bold my-xl-0 my-3">大數智能教育聚焦企業數位人才診斷及精準培訓，以客製化的培育，確保訓練皆能符合企業、市場所需。</p>
                    </div>
                    <div class="col fccs flex-xl-row justify-content-md-end">
                        <h3 class="footer-contact font-weight-bold mr-xl-5">
                            <a href="#"><i class="fas fa-phone mr-2"></i>客服專線：02-27718270</a>
                        </h3>
                        <h3 class="footer-contact font-weight-bold">
                            <a href="mailto:service@gtalent.com.tw"><i class="fas fa-envelope mr-2"></i>service@gtalent.com.tw</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-b">
            <div class="col-12">
                <div class="fccb flex-md-row">
                    <h5 class="col footer-copyright text-center mb-md-0 mb-1">Copyright © 2021 大數智能教育股份有限公司</h5>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- <div class="btn-top bg-primary" onclick="toTop()">Top</div> -->

</body>

</html>
